* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#first-service {
    padding: 2rem 0;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

header .fin {
    /* margin-right: 30rem; */
    width: 40%;
}

header .fin img {
    width: 30%;
}

header ul {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    list-style: none;
    margin-right: 1rem;
}
header .line {
    margin-left: 10px;
    margin-right: 10px;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

header .logo {
    display: flex;
    margin-bottom: 5px;
    margin-right: 2rem;
    gap: 15px;
}

header .logo img {
    width: 110%;
}

header .logo small {
    font-size: 17px;
}

#first-service .division {
    display: flex;
    padding: 0 5rem;
}

#first-service .division .left-division {
    width: 40%;
}

#first-service .division .right-division {
    width: 60%;
    background: black;
    background-size: cover;
    color: white;
    padding: 5rem;
}

.division .right-division h2 {
    margin-bottom: 20px;
    font-size: 60px;
}

.division .right-division button {
    width: 35%;
    height: 12%;
    margin-top: 60px;
    border: 2px solid #FF6433;
    background: #FF6433;
    color: white;
    border-radius: 12px;
}

/*second-section*/
#auto-section {
    background: #F5F5F5;
    padding: 5rem 10rem;
}

#auto-section .auto-division {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auto-division .auto-left {
    background: white;
    background-size: cover;
    width: 45%;
    margin-right: 20px;
    padding: 2rem;
}

.auto-division .auto-left img {
    background-size: contain;
    margin-bottom: 15px;
}

.auto-division .auto-left h2 {
    font-weight: 800;
}

.auto-division .auto-left .auto-small {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.auto-division .auto-left p {
    margin: 15px 0;
}

.auto-division .auto-right {
    display: flex;
    width: 45%;
}

.auto-right .auto-tools {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.auto-right .auto-tools .auto-images {   
    background: white;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

 .auto-tools .auto-images{
    width: 100%;
}

.auto-tools .auto-images img {
    /* width: 50%; */
    align-items: center;
    justify-content: center;
} 

/*third-section*/
#process-section {
    padding: 5rem;
}

#process-section .main-process {
    display: flex;
}

.main-process .left-process {
    width: 48%;
    /* margin-right: 5rem; */
}

.main-process .left-process h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.main-process .left-process .image-process {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.main-process .left-process .image-process {
    width: 100%;
}

.main-process .left-process .image-process img {
    width: 110%;
}

.main-process .right-process {
    width: 48%;
}

.right-process .process-images img {
    width: 40%;
}

/*fourth-section*/
#diagnose {
    padding: 5rem 10rem;
}

#diagnose .diagnose-section {
    display: flex;
}

.diagnose-section .left-diagnose {
    width: 48%;
    display: flex;
}

.diagnose-section .left-diagnose .diagnose-images {
    display: flex;
    gap: 10px;
}

.diagnose-section .left-diagnose .diagnose-images img {
    width: 50%;
}

.diagnose-section .right-diagnose {
    width: 48%;
    margin-left: 5rem;
}

.diagnose-section .right-diagnose h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 40px;
}

.diagnose-section .right-diagnose p {
    font-size: 17px;
    margin-bottom: 50px;
}

.diagnose-section .right-diagnose button {
    margin-top: 30px;
    width: 35%;
    height: 45px;
    color: white;
    border: 1px solid #FF6433;
    background: #FF6433;
    border-radius: 15px;
}

/*fifth-section*/

#touch-section .images-section {
    display: flex;
    width: 100%;
    margin: 0;
}

#touch-section .images-section .first-image {
    width: 24%;
}

#touch-section .images-section .second-image {
    width: 36%;
    background: #FF6433;
    color: white;
    padding: 7rem 2rem;
}

#touch-section .images-section .second-image h2 {
    font-size: 35px;
    font-weight: 800;
    margin: 30px 0;
}

#touch-section .images-section .second-image button {
    margin-top: 20px;
    width: 35%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
}

#touch-section .images-section .third-image {
    width: 40%;
}

/* sixth-section */
#intouch-part {
    background: #1e1e1e;
    color: #F5F5F5;
    padding: 2rem 10rem;
}

#intouch-part .main-intouch {
    display: flex;
    /* padding: 2rem 10rem; */
}

.main-intouch .intouch-left {
    width: 48%;
}

.main-intouch .intouch-left h2 {
    font-size: 42px;
    margin-bottom: 9.7rem;
}

.main-intouch .intouch-left .intouch-images {
    display: flex;
    gap: 20px;
    width: 65%;
}

.intouch-left .intouch-images img {
    width: 15%;
}

.main-intouch .intouch-right {
    width: 48%;
}

.main-intouch .intouch-right small {
    font-size: 18px;
    color: gray;
}

.main-intouch .intouch-right p {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5rem;
}

footer {
    padding: 2rem 10rem;
    background: black;
    color: white;
}

footer .footer-section {
    display: flex;
    justify-content: space-between;
}

footer .fin-first {
    width: 25%;
}

footer .fin-middle {
    width: 50%;
}

footer .fin-middle ul {
    justify-content: center;
    
}

footer .fin-middle a {
    color: #F5F5F5;
    text-decoration: none;
}

footer .fin-middle li {
    list-style: none;
}

footer .fin-middle ul {
    display: flex;
    gap: 20px;
    font-size: 18.5px;
    margin-top: 5px;
}

footer .fin-last {
    width: 25%;
}

footer .fin-last small {
    color: gray;
    font-size: 18px;
    margin-top: 5px;
}







/* Tablet-view */
@media (max-width: 769px) {
    #first-service {
        width: 100%;
        padding: 1rem 1rem 0;
    }

    header {
        width: 100%;
        min-height: 30vh;
        flex-direction: column;
        padding: 0 1rem;
    }

    header .fin {
        width: 60%;
        margin-bottom: 10px;
    }

    header ul {
        flex-direction: column;
        gap: 5px;
    }

    header .logo {
        margin-top: -15px;
        gap: 10px;
    }

    header .logo img {
        width: 110%;
    }

    header .logo small {
        font-size: 18px;
    }

    #first-service .division {
        padding: 0 2rem 3rem;
    }

    #first-service .division .left-division {
        width: 45%;
    }

    #first-service .division .left-division img {
        width: 220%;
    }

    #first-service .division .right-division {
        width: 55%;
    }

    #first-service .division .right-division {
        padding: 2rem;
    }

    .division .right-division button {
        width: 40%;
        padding: 10px;
        margin-top: 50px;
    }

    #auto-section {
        padding: 2rem;
    }

    #auto-section .auto-division {
        margin: 20px 10px;
    }

    .auto-division .auto-left {
        padding: 1rem;
    }

    .auto-division .auto-left h2 {
        font-size: 20px;
    }

    .auto-division .auto-left p {
        font-size: 16px;
    }
    .auto-division .auto-left .auto-small small {
        font-size: 16px;
    }

    .auto-right .auto-tools .auto-images {
        width: 100%;
        padding: 20px 20px;
        gap: 2;
    }

    .auto-right .auto-tools .auto-images img {
        width: 45%;
        margin: 0 25px;
    }

    .auto-right .auto-tools .auto-images p {
        font-size: 16px;
        margin: 3px 10px;
    }

    #process-section {
        padding: 4rem 3rem;
    }

    #process-section .main-process {
        padding: 0;
    }

    #process-section .left-process {
        width: 45%;
    }

    .main-process .left-process h2 {
        font-size: 25px;
    }
/* 
    .main-process .left-process {
        margin-right: 3rem;
    } */

    
    .main-process .left-process .image-process img {
        width: 100%;
    }

    .main-process .left-process .image-process p {
        font-size: 15px;
    }

    .main-process .right-process {
        width: 45%;
        padding-left: 20px;
    }

    .right-process .process-images {
        display: flex;
        gap: 8px;
    }

    .right-process .process-images img {
        width: 60%;
    }

    #diagnose {
        padding: 2rem;
    }

    #diagnose .diagnose-section {
        margin-bottom: 40px;
    }

    #diagnose .diagnose-section .left-diagnose {
        width: 50%;
    }

    .diagnose-section .left-diagnose .diagnose-images {
        width: 100%;
    }

    .diagnose-section .left-diagnose .diagnose-images img {
        width: 50%;
    }

    .diagnose-section .right-diagnose {
        width: 48%;
        margin-left: 3rem;
    }

    .diagnose-section .right-diagnose h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .diagnose-section .right-diagnose p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .diagnose-section .right-diagnose button {
        margin-top: 10px;
        width: 50%;
        padding: 12px;
    }

    #touch-section .images-section .first-image {
        width: 25%;
    }

    #touch-section .images-section .first-image img {
        width: 250%;
    }

    #touch-section .images-section .second-image {
        width: 35%;
        padding: 1.5rem;
    }

    #touch-section .images-section .second-image h2 {
        margin: 0;
        font-size: 22px;
    }

    #touch-section .images-section .second-image button {
        width: 50%;
        padding: 13px;

    }

    #touch-section .images-section .third-image {
        width: 40%;
    }

    #touch-section .images-section .third-image img {
        width: 152%;
    }

    #intouch-part {
        padding: 1rem 2rem;
    }

    #intouch-part .main-intouch {
        padding: 0;
    }

    .main-intouch .intouch-left {
        width: 48%;
    }

    .main-intouch .intouch-right {
        width: 48%;
    }

    #intouch-part .main-intouch .intouch-right {
        margin-left: 1rem;
    }

    .main-intouch .intouch-left h2 {
        font-size: 33px;
        margin-bottom: 9rem;
    }

    .main-intouch .intouch-left .intouch-images img {
        width: 20%;
    }

    .main-intouch .intouch-right p {
        font-size: 22px;
    }

    .main-intouch .intouch-right p {
        margin-bottom: 2rem;
    }

    footer {
        /* width: 100%; */
        padding: 2rem;
    }
    
    footer .footer-section {
        width: 100%;
    }

    footer .fin-first {
        width: 15%;
    }

    footer .fin-middle {
        margin-top: 0;
    }

    footer .fin-middle a {
        font-size: 16px;
    }

    footer .fin-last {
        margin-top: 6px;
        margin-left: 0;
    }

    footer .fin-last small {
        width: 30%;
        font-size: 16px;
        margin-left: 0;
    }
 


}


/* mobile-view */
@media (max-width: 426px) {

    header .fin {
        width: 110%;
    }
    
    #first-service .division {
        width: 100%;
        flex-direction: column;
    }

    #first-service .division .left-division {
        width: 100%;
        margin-bottom: 20px;
    }

    #first-service .division .left-division img {
        width: 100%;
    }

    #first-service .division .right-division {
        width: 100%;
    }

    .division .right-division h2 {
        font-size: 30px;
    }

    .division .right-division p {
        font-size: 15px;
    }

    #auto-section {
        width: 100%;
    }

    #auto-section .auto-division {
        flex-direction: column;
    }

    .auto-division .auto-left {
        width: 100%;
    }

    .auto-division .auto-right {
        width: 100%;
        margin-top: 10px;
    }

    #process-section {
        width: 100%;
        padding: 2rem;
    }

    #process-section .main-process {
        width: 100%;
        flex-direction: column;
    }

    #process-section .left-process {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-process .left-process .image-process {
        width: 100%;
    }

    .main-process .left-process .image-process img {
        width: 90%;
    }

    .main-process .left-process .image-process p {
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
    }

    .main-process .right-process {
        width: 100%;
    }

    .main-process .right-process .process-images {
        width: 100%;
    }

    .main-process .right-process .process-images img {
        width: 50%;
    }

    #diagnose .diagnose-section {
        width: 100%;
        padding: 2rem;
        flex-direction: column;
        margin-bottom: 0;
    }

    .diagnose-section .left-diagnose {
        width: 100%;
        margin-bottom: 25px;
    }

    .diagnose-section .left-diagnose .diagnose-images {
        width: 100%;
    }

    .diagnose-section .left-diagnose .diagnose-images img {
        width: 100%;
    }

    .diagnose-section .right-diagnose {
        width: 100%;
        margin: 0;
    }

    .diagnose-section .right-diagnose h2 {
        font-size: 23px;
    }

    .diagnose-section .right-diagnose p {
        font-size: 17px;
        margin-bottom: 10px;
    }

    #touch-section .images-section {
        width: 100%;
        flex-direction: column;
    }

    #touch-section .images-section .first-image {
        width: 100%;
    }

    #touch-section .images-section .first-image img {
        width: 100%;
    }

    #touch-section .images-section .second-image {
        width: 100%;
    }

    #touch-section .images-section .second-image button {
        width: 35%;
    }

    #touch-section .images-section .third-image {
        width: 100%;
    }

    #touch-section .images-section .third-image img {
        width: 100%;
    }

    #intouch-part .main-intouch {
        width: 100%;
        flex-direction: column;
    }

    .main-intouch .intouch-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .main-intouch .intouch-left h2 {
        font-size: 28px;
        margin-bottom: 3rem;
    }

    .main-intouch .intouch-left .intouch-images {
        width: 50%;
    }

    .main-intouch .intouch-left .intouch-images img {
        width: 50%;
    }

    .main-intouch .intouch-right {
        margin-left: 0;
        width: 100%;
    }

    .main-intouch .intouch-right p {
        margin-bottom: 1.5rem;
    }

    footer {
        padding: 2rem 2rem;
    }

    footer .footer-section {
        width: 100%;
        flex-direction: column;
    }

    footer .fin-first {
        width: 100%;
    }

    footer .fin-middle {
        width: 100%;
        flex-direction: column;
    }

    footer .fin-middle ul {
        flex-direction: column;
        gap: 10px;
    }

    footer .fin-last {
        margin-left: 0;
        width: 100%;
    }

    footer .fin-last small {
        font-size: 17px;
        margin-bottom: 10px;
    }


}