* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    padding: 2rem 5rem;
}

.main-header {
    display: flex;
    align-items: center;
}

.main-header .logo-section {
    width: 48%;
}

.main-header .right-section {
    width: 51%;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding: 15px 0;
}

.road-assistance .inner-section p {
    font-size: 18px;
    margin-left: 20px;
}

.icon img {
    width: 130%;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.form-section {
    width: 40px;
}

.image-section {
    width: 40px;
    justify-content: flex-end;
}

.form-container {
    display: flex;
}

.flex-section {
    display: flex;
}

#mechanic-section{
    padding: 0 1rem;
}

#mechanic-section .flex-section .text-section {
    width: 45%;
}
#mechanic-section .flex-section .image-section {
    width: 55%
}

.text-section {
    padding: 0 60px;
}

.text-section h1 {
    font-size: 62px;
    font-weight: bold;
    font-family: "Manrope";
}

#mechanic-section .flex-section .image-section img {
    width: 100%;
}

button {
    background-color: orangered;
    color: white;
    width: 30%;
    padding: 20px;
    border: 1px solid orangered;
    border-radius: 12px;
    margin-top: 55px;
}

.text-section .clock-section .clock-place {
    width: 20%;
}

.text-section .clock-section .clock-place img {
    width: 80%;
}

.clock-section {
    display: flex;
    margin-top: 55px;
}

.clock-section .time-section {
    width: 80%;
}

.text-section small {
    font-size: 20px;
    color: gray;
}

.time-section p {
    font-size: 20px;
}

#second-form {
    background: #e2e6e9;
}

#second-form .second-container {
    padding: 3rem 5rem;
}

.second-container .second-flex {
    display: flex;
}

.second-container .second-flex .left-side {
    width: 48%;
    padding: 20px;
}

.second-container .second-flex  .right-side {
    width: 48%;
    padding: 20px;
}

.left-side h2 {
    font-family: "Manrope";
    font-size: 45px;
    margin-bottom: 10px;
}

.left-side li {
    list-style: none;
}

.image-box img {
    width: 130%;
    margin-bottom: 10px;
}

.text-box {
    margin-left: 30px;
}

.left-side h5 {
    margin-top: 5px;
    font-size: 15px;
}

.left-side p {
    font-size: 15px;
}

.second-flex .left-side .arrow-box {
    margin-top: 40px;
}

.right-side h3 {
    font-size: 45px;
    margin-bottom: 30px;
}

.right-side input[type="text"], input[type="number"] {
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 3px;
    border: 2px solid grey;
}

.right-side .btn-side {
    margin-top: 0;
}

.right-side .btn-side button {
    width: 25%;
    padding: 15px;
    margin-top: 35px;
}

#third-form {
    background: #FFFFFF;
}

#third-form .third-container .third-flex {
    display: flex;
    padding: 5rem;
}

.third-left-side {
    width: 50%;
    padding: 20px;
}

.third-right-side {
    width: 45%;
    padding: 20px;
}

.third-left-side h1 {
    font-size: 45px;
    margin-bottom: 25px;
}

.third-left-side p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5rem;
}

.third-right-side li {
    list-style: none;
}

.image-quote-flex {
    display: flex;
    gap: 0;
}

.third-right-side .third-image-box {
    width: 10px;
    height: 10px;
    position: relative;
}

.third-text-box h3 {
    font-size: 33px;
    font-family: "Manrope";
    margin-bottom: 8px;
}

.third-text-box p {
    font-size: 18px;
}

.third-right-side .image-quote-flex .third-image-box {
    text-align: center;
    margin-right: 5px;
    width: 20%;
}

.image-quote-flex .third-image-box .line-box {
    width: 100%;
}

.third-flex .third-right-side .image-quote-flex {
    margin-bottom: 40px;
}

.third-right-side .image-quote-flex .third-image-box .line-box img {
    width: 2%;
}

#fourth-offer {
    background: #f2f2f2;
    padding: 2rem 10rem 5rem;
}

#fourth-offer .container h5, #fourth-offer .container h2 {
    text-align: center;
}

#fourth-offer .container h5 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

#fourth-offer .container h2 {
    font-size: 40px;
    font-weight: 900;
}

#fourth-offer .offer {
    display: flex;
}

#fourth-offer .offer .form-box {
    background: white;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 24%;
    margin: 5px;
}

#fourth-offer .offer {
    flex-wrap: wrap;
}

.arrow-link a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.arrow-link {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
}

#fourth-offer .offer .form-box:hover {
    background: #ff6433;
    color: white;
}

#workshop-section {
    display: flex;
    background: #f2f2f2;
}

#workshop-section .benz-section {
    height: 500px;
    width: 20%;
    background: url(../images/benz.png) no-repeat;
    background-size: cover;
    background-position: left;
}

#workshop-section .orange-section {
    height: 500px;
    width: 30%;
    background: #ff6433;
    background-size: cover;
    background-position: center;
}

#workshop-section .orange-section button {
    padding: 15px;
    width: 30%;
    background: black;
    color: white;
    margin: 40px;
}

#workshop-section .orange-section h2 {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
}

#workshop-section .tools-section {
    height: 500px;
    width: 50%;
    background: url(../images/engine.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.numbers {
    justify-content: space-around;
    display: flex;
    background: #f2f2f2;
    padding: 0 0 20px;
}

.numbers h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: #661ce7;
}

.numbers p {
    font-size: 17px;
}

#brand-section {
    background: #fafafa;
}

#brand-section .brand-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#brand-section h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 40px 0;
}

#brand-section .brand-logo .brands-images {
    width: 17%;
}

#brand-section .brand-tools .brand-logo img {
    width: 100%;
}

/*customer-part*/
#customer-part {
    display: flex;
    background: #f2f2f2;
    padding: 5rem 10rem;
}

#customer-part .customer-container h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 600;
}

.customer-container .review-section {
    justify-content: center;
}

.customer-container .review-section {
    display: flex;
}

.review-section .left-review {
    background: hsla(0, 0%, 100%, 0.911);
    border: 1px solid white;
    width: 35%;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.left-review .image-review {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
}

.right-review .image-review {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
} 

.review-section .right-review {
    background: white;
    border: 1px solid white;
    width: 35%;
    border-radius: 5px;
    padding: 20px;
    margin-left: 10px;
}

.customer-container .bottom-row {
    display: flex;
    width: 100%;
}

.bottom-row .first {
    width: 25%;
}

.bottom-row .second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 40px;
}

.bottom-row .third {
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    width: 25%;
    margin-left: -14%;
    margin-top: 40px;
}

/*eight-section*/
#question-section {
    background: #E2E6E9;
    padding: 5rem;
}

#question-section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#question-section .question-parts {
    margin-top: 2rem;
}

#question-section .questions {
    display: flex;
    justify-content: center;
}

.question-parts .first-quest h5 {
    font-size: 20px;
    margin-right: 22.9rem;
    margin-bottom: 8px;
}

.question-parts .first-quest {
    display: flex;
}

.question-parts .first-quest  span {
    color: white;
    background: orangered;
    padding: 1px 6px;
    border: 1px solid orangered;
}

.question-parts .second-quest {
    display: flex;
}

.question-parts .second-quest span {
    color: white;
    background: orangered;
    padding: 1px 4px;
    border: 1px solid orangered;
}

.question-parts .second-quest h5 {
    font-size: 18px;
    margin-right: 21.8rem;
}

.question-parts .third-quest {
    display: flex;
}

.question-parts .third-quest h5 {
    font-size: 18px;
    margin-right: 23.3rem;
}

.question-parts .third-quest span {
    color: white;
    background: orangered;
    padding: 1px 4px;
    border: 1px solid orangered;
}

.question-parts .fourth-quest {
    display: flex;
}


.question-parts .fourth-quest h5 {
    font-size: 18px;
    margin-right: 22.6rem;
}

.question-parts .fourth-quest span {
    color: white;
    background: orangered;
    padding: 1px 4px;
    border: 1px solid orangered;
}

.question-parts .fifth-quest h5 {
    font-size: 18px;
    margin-right: 23.1rem;
}

.question-parts .fifth-quest {
    display: flex;
}

.question-parts .fifth-quest span {
    color: white;
    background: orangered;
    padding: 1px 4px;
    border: 1px solid orangered;
}


.question-parts .first-quest {
    background: white;
    width: 100%;
    height: 30%;
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}

.first-quest .quest-row span{
    display: flex;
    justify-content: flex-end;
}

.quest-row span {
    height: 10px;
    width: 30px;
    background: #ff6433;
}

.question-parts .second-quest {
    background: white;
    width: 100%;
    height: 15%;
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}

.question-parts .third-quest {
    background: white;
    width: 100%;
    height: 15%;
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}

.question-parts .fourth-quest {
    background: white;
    width: 100%;
    height: 15%;
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}
.question-parts .fifth-quest {
    background: white;
    width: 100%;
    height: 15%;
    border: 1px solid white;
    margin: 10px 0;
    padding: 20px;
}

/*ninth-part*/

#intouch-section {
    background: #1E1B1B;
    padding: 5rem 2rem 0;
    color: white;
}

#intouch-section .intouch-parts {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}


.intouch-parts h2 {
    font-size: 45px;
}

.intouch-parts .intouch-left {
    margin: 0 5rem;
}

.intouch-parts .intouch-images {
    margin-top: 9.5rem;
}

.intouch-parts .intouch-images {
    width: 100%;
}

.intouch-parts .intouch-images img {
    margin-right: 15px;
    width: 13%;
}

.intouch-parts .intouch-right {
    margin: 0 5rem;
}

.intouch-parts .intouch-right small {
    font-size: 15px;
    color: #939191;
}

.intouch-right h5 {
    margin-top: 10px;
    margin-bottom: 5rem;
}

.intouch-parts .intouch-right h5 {
    font-size: 25px;
}

footer {
    background: black;
    display: flex;
    padding: 2rem 7rem;
    width: 100%;
    justify-content: space-between;
}

footer .footer-link ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
    list-style: none;
}

.footer-link a {
    color: white;
    text-decoration: none;
}

footer .footer-copy {
    font-size: 18px;
    color: #939191;
}

/*Talet-view */
@media (max-width: 769px) {
    .main-header {
        padding: auto;
        width: 100%;
    }

    .container {
        padding: 1rem 2rem;
    }

    .main-header .logo-section {
        width: 20%;
        margin-right: 20px;
    }

    .logo-section img {
        width: 90%;
    }

    .main-header .right-section {
        display: flex;
        width: 80%;
        font-size: 10px;
    }

    .right-section ul li a {
        font-size: 17px;
    }

    .icon img {
        width: 100%;
    }

    .road-assistance .inner-section p {
        font-size: 16px;
        margin-left: 10px;
    }

    .navigation ul li {
        align-items: center;
        display: block;
    }

    .road-assistance {
        padding: 10px;
    }


    #mechanic-section {
        width: 100%;
    }

    .flex-section {
        width: 100%;
    }

    .text-section {
        padding: 0 20px;
    }

    .text-section h1 {
        font-size: 27px;
    }

    .text-section button {
        width: 45%;
    }

    button {
        margin-top: 2rem;
    }

    .text-section .clock-section .clock-place img {
        width: 100%;
    }

    .text-section .clock-section .time-section {
        margin-left: 10px;
    }

    .flex-section .image-section {
        width: 90%;
    }
    
    .clock-section {
        
        display: flex;
        width: 100%;
    }

    .clock-section .clock-place {
        width: 45%;
        margin-top: auto;
    }

    .time-section {
        width: 55%;
        font-size: 8px;
    }

    .time-section small {
        font-size: 15px;
    }

    .time-section p {
        font-size: 18px;
    }

    /* second-section */

    #second-form .second-container {
        width: 100%;
        padding: 1rem 2rem;
    }

    .second-container .second-flex {
        display: flex;
    }

    .left-side li {
        margin-top: 20px;
    }

    .left-side .second-flex .text-box {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .second-flex .image-box {
        width: 10%;
    }

    .second-flex .left-side .arrow-box {
        margin-top: 10px;
    }

    .right-side input[type="text"], input[type="number"] {
        width: 100%;
        height: 5px;
        padding: 20px;
    }

    .second-flex .image-box {
        width: 45%;
    }

    .image-box img {
        width: 80%;
    }

    .second-flex .text-box h5 {
        font-size: 16px;
        margin-bottom: 3px;
    }

    .second-flex .text-box p {
        font-size: 14px;
    }

    .left-side .arrow-box h4 {
        margin-top: 1px;
        margin-left: 5px;
        font-size: 16px;
    }

    .left-side h2 {
        margin: auto;
        font-size: 25px;
    }

    .right-side h3 {
        font-size: 26px;
    }

    .right-side label {
        margin-top: 3px;
    }

    .right-side .btn-side {
        margin-top: 35px;
    }

    .right-side .btn-side button {
        width: 40%;
        padding: 15px;
        margin-top: 2px;
    }

    /* third-section */
    #third-form {

    }

    #third-form .third-container .third-flex {
        padding: 1rem 2rem;
    }

    #third-form .third-flex .third-left-side {
        width: 48%;
    }

    .third-left-side p {
        font-size: 18px;
    }

    .third-left-side h1 {
        font-size: 30px;
    }

    .third-left-side button {
        width: 40%;
    }

    #third-form .third-flex .third-right-side {
        width: 48%;
        padding: 10px;
    }

    .third-text-box h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .third-text-box p {
        font-size: 16px;
    }

    .third-right-side .image-quote-flex .third-image-box {
        width: 50%;
    }

    .third-flex .third-right-side .image-quote-flex {
        margin-bottom: 25px;
    }
    

    .third-right-side .image-quote-flex .third-image-box img {
        width: 60%;
    }

    .image-quote-flex .third-image-box .line-box {
        width: 100%;
    }

    .third-right-side .image-quote-flex .third-image-box .line-box img {
        width: 1.4%;
    }

    #fourth-offer {
        padding: 1rem 5rem;
        flex-direction: column;
    }

    #fourth-offer .container h5 {
        margin-bottom: 5px;
    }

    #fourth-offer .container h2 {
        font-size: 25px;
    }

    #fourth-offer .offer .form-box {
        width: 20%;
        height: 40%;
        padding: 25px;
        margin: 5px;
    }

    #fourth-offer .offer {
        width: 100%;
        padding: 2px;
        align-items: center;
    }

    #fourth-offer .arrow-link {
        margin-top: 15px;
        margin-right: 14%;
        margin-bottom: 25px;
    }

    #workshop-section .orange-section button {
        width: 40%;
    }

    /* fifth-section */
    #workshop-section {
    }

    #workshop-section .benz-section {
        width: 22%;
        height: 300px;
    }

    #workshop-section .orange-section {
        width: 33%;
        height: 300px;
    }

    #workshop-section .orange-section h2 {
        font-size: 20px;
    }

    #workshop-section .tools-section {
        width: 45%;
        height: 300px;
    }

    .numbers {
        background: #f2f2f2;
        font-size: 15px;
    }

    .numbers .purple h2 {
        font-size: 30px;
    }

    #brand-section h2 {
        font-size: 30px;
        padding: 25px 0;
    }

    /* #brand-section {
        padding: 2rem;
    }

    #brand-section h2 {
        margin-top: 15px;
        font-size: 25px;
    }

    #brand-section .brand-tools {
        margin-bottom: 1rem;
    }

    #brand-section .brand-logo {
        margin-left: 10px;
        margin-top: 10px;
    }

    #brand-section .brand-tools .brand-logo img {
        width: 50%;
    }

    #brand-section .brand-logo {
        width: 25%;
    }
 
    .brand-logo img {
        width: 100%;
    }

    #brand-section .brands-logo {
        width: 20%;
    } */
    
    /* seventh-section */
    #customer-part {
        padding: 2rem 4rem;
    }
    
    #customer-part.customer-container {
        padding: 10px 25px;
        margin-bottom: 20px;
    }

    #customer-part .customer-container h2 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #customer-part .customer-container .review-section {
        width: 100%;
    }

    .customer-container .review-section .left-review {
        width: 50%;
    }

    .customer-container .review-section .right-review {
        width: 50%;
    }

    .customer-container .bottom-row .second img {
        width: 34%;
    }

    .customer-container .bottom-row .third img {
        width: 25%;
    }

    .bottom-row .second {
        margin-top: 20px;
        margin-right: 5px;
    }

    .bottom-row .third {
        margin-top: 15px;
        margin-left: 20px;
    }

    .customer-container .bottom-row .third img {
        width: 30%;
    }
    
    /* eight-section */
    #question-section {
        width: 100%;
        padding: 2rem 5rem;
    }

    #question-section h2 {
        font-size: 20px;
    }

    #question-section .question-parts {
        margin-top: 15px;
    }

    .question-parts .first-quest {
        padding: 10px;
    }

    .question-parts .first-quest h5 {
        font-size: 16px;
        margin-bottom: 1px;
    }

    .question-parts .second-quest {
        padding: 5px;
    }

    .question-parts .second-quest h5 {
        font-size: 15px;
        margin-right: 20rem;
    }

    .question-parts .third-quest {
        padding: 5px;
    }

    .question-parts .third-quest h5 {
        font-size: 15px;
    }

    .question-parts .fourth-quest {
        padding: 5px;
    }

    .question-parts .fourth-quest h5 {
        font-size: 15px;
    }

    .question-parts .fifth-quest {
        padding: 5px;
    }

    .question-parts .fifth-quest h5 {
        font-size: 15px;
    }

    /* ninth-section */
    #intouch-section .intouch-parts .intouch-left {
        width: 48%;
        margin: 0;
    }

    #intouch-section .intouch-parts {
        margin: 0 1rem;
    }

    #intouch-section .intouch-parts .intouch-right {
        width: 48%;
        margin: 0;
    }

    .intouch-parts .intouch-left .intouch-images img {
        width: 12%;
    }

    .intouch-parts h2 {
        font-size: 30px;
    }

    .intouch-parts .intouch-left .intouch-images {
        width: 100%;
    }

    .intouch-parts .intouch-images {
        margin-top: 6rem;
    }

    .intouch-left .intouch-images img {
        width: 10%;
        height: 10%;
    }

    .intouch-parts .intouch-right {
        margin-bottom: 30px;
    }

    .intouch-parts .intouch-right h5 {
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 20px;
    }

    footer {
        padding: 2rem;
    }

    footer .footer-image {
        width: 23%;
        padding: 0 4px;
    }

    footer .footer-link ul {
        font-size: 16px;
        margin-top: 5px;     
    }

    footer .footer-copy {
        font-size: 16px;
        margin-top: 5px;
        padding-right: 0;
        padding-left: 10px;
    }


}



/* mobile- view */
@media (max-width: 426px) {
    header .container {
        padding: 20px 40px;
    }

    .logo-section {
        width: 100%;
    }

    .logo-section img {
        width: 140%;
    }

    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation {
        width: 100%;
    }

    .right-section .navigation ul {
        flex-direction: column;
        padding: 10px 0;
    }
    .right-section .navigation ul li {
        padding: 4px 0;
        margin-right: 0;
        width: 100%;
    }

    .right-section .navigation ul li a {
        display: block;
        font-size: 17px;
    }
    .road-assistance { 
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .road-assistance .icon img {
        width: 95%;
        margin-top: 5px;
    }

    .road-assistance .inner-section p {
        font-size: 17px;
        margin-left: 5px;
    }

    .flex-section {
        flex-direction: column;
    }

    #mechanic-section {
        padding: 0;
    }

    #mechanic-section .clock-section {
        margin-top: -5rem;
    }

    #mechanic-section .text-section {
        width: 100%;
        padding: 20px;
    }

    #mechanic-section .text-section button {
        width: 35%;
        height: 40%;
        margin-bottom: 20px;
        padding: 10px;
    }

    #mechanic-section .flex-section .text-section {
        width: 100%;
        padding: 20px 40px;
    }

    #mechanic-section .flex-section .image-section {
        width: 100%;
    }

    #mechanic-section .text-section h1 {
        font-size: 25px;
    }

    #mechanic-section .text-section .clock-place {
        width: 50%;
    }

    #mechanic-section .text-section .clock-place img {
        width: 60%;
    }

    #mechanic-section .text-section .time-section {
        width: 100%;
    
    }

    #mechanic-section .text-section {
        order: 2;
    }

    #mechanic-section .image-section {
        order: 1;
    }

    #mechanic-section .image-section {
        width: 100%;
    }

    #mechanic-section .image-section img {
        width: 100%;
    }

    #mechanic-section .clock-section {
        margin-top: 10px;
    }

    #mechanic-section .text-section .clock-place {
        width: 30%;
    }

    #mechanic-section .text-section .clock-place img {
        width: 90%;
    }

    
    /* second-section */

    #second-form {
        width: 100%;
    }
    #second-form .second-container .second-flex {
        flex-direction: column;
    }

    .second-container .second-flex .left-side {
        width: 100%;
    }

    .second-flex .image-box {
        width: 20%;
    }

    .left-side .second-flex .text-box {
        width: 100%;
    }

    .second-flex .image-box img {
        width: 60%;
    }

    .second-container .second-flex .right-side {
        width: 100%;
    }

    #third-form .third-flex {
        flex-direction: column;
    }

    .third-flex .third-left-side {
        width: 100%;
    }

    #third-form .third-flex .third-left-side {
        width: 100%;
    }

    .third-left-side p {
        font-size: 17px;
    }

    #third-form .third-flex .third-right-side {
        width: 100%;
    }

    #third-form .third-flex .third-right-side {
        order: 1;
    }

    #third-form .third-flex .third-left-side {
        order: 2;
    }

    .third-right-side .image-quote-flex .third-image-box {
        width: 30%;
    }

    .third-right-side .image-quote-flex .third-image-box img {
        width: 65%;
        margin-right: 0;
     }


    .third-flex .third-right-side .image-quote-flex {
        margin-bottom: 20px;
    }

    #fourth-offer .container {
        padding-top: 20px;
    }

    .container {
        padding: 0;
    }

    #fourth-offer {
        padding: 1rem 2rem;
    }

    #fourth-offer .container h2 {
        margin: 10px 0;
    }

    #fourth-offer .arrow-link {
        margin-right: 1.9rem;
    }


    #fourth-offer .container {
        flex-direction: column;
        background: #f2f2f2;
    }

    #fourth-offer .offer {
        background: #f2f2f2;
        padding: 10px;
    }

    #fourth-offer .offer .form-box {
        width: 45%;
    }

    #workshop-section {
        width: 100%;
    }

    #workshop-section .benz-section {
        width: 25%;
        height: 250px;
    }

    #workshop-section .orange-section {
        width: 35%;
        height: 250px;
    }

    #workshop-section .orange-section h2 {
        margin-top: 30px;
        font-size: 16px;
    }

    #workshop-section .tools-section {
        width: 40%;
        height: 250px;
    }

    #workshop-section .orange-section button {
        width: 50%;
        margin: 50px 0 20px 20px;
        padding: 10px;
    }

    .numbers .purple h2 {
        font-size: 25px;
    }

    .numbers {
       padding-left: 15px;
    }

    .numbers p {
        font-size: 13px;
    }

    .brand-logo img {
        width: 120%;
    }

    #brand-section h2 {
        font-size: 25px;
        padding: 25px 0;
    }

    #brand-section .brands-images img {
        width: 120%;
    }

    #customer-part .customer-container h2 {
        font-size: 22px;
    }

    .customer-container .review-section {
        flex-direction: column;
    }

    .customer-container .review-section .left-review {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .customer-container .review-section .right-review {
        width: 100%;
        margin-left: 0;
    }

    .bottom-row .third {
        width: 40%;
        margin-left: 0;
    }

    .bottom-row .third {
        width: 100%;
    }

    .bottom-row .second {
        width: 100%;
    }

    .customer-container .bottom-row .second img {
        width: 50%;
    }

    #question-section {
        padding: 2rem;
    }

    #question-section .questions {
        width: 100%;
        margin-bottom: 40px;
    }

    #question-section .question-parts {
        width: 100%;
    }

    .question-parts .first-quest {
        padding: 10px;
        width: 100%;
        height: 35%;

    }

    .question-parts .first-quest h5 {
        margin-right: 4rem;
    }

    .question-parts .second-quest {
        padding: 10px;
        width: 100%;
        height: 15%;
    }

    .question-parts .second-quest h5 {
        margin-right: 4rem;
    }

    .question-parts .third-quest {
        padding: 10px;
        width: 100%;
        height: 15%;
    }

    .question-parts .third-quest h5 {
        margin-right: 4rem;
    }

    .question-parts .fourth-quest {
        padding: 10px;
        width: 100%;
        height: 15%;
    }

    .question-parts .fourth-quest h5 {
        margin-right: 4rem;
    }

    .question-parts .fifth-quest {
        padding: 10px;
        width: 100%;
        height: 15%;
    }

    .question-parts .fifth-quest h5 {
        margin-right: 4rem;
    }

    #intouch-section {
        padding: 2rem;
    }

    #intouch-section .intouch-parts {
        margin: 10px;
        flex-direction: column;
    }

    #intouch-section .intouch-parts .intouch-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .intouch-parts .intouch-images {
        margin-top: 4rem;
    }

    #intouch-section .intouch-parts .intouch-right {
        width: 100%;
    }
    footer {
        flex-direction: column;
    }

    footer .footer-image {
        padding: 0;
    }

    footer .footer-link ul {
        margin-top: 10px;
        flex-direction: column;
        gap: 13px;
    }

    footer .footer-copy {
        padding-left: 0;
        margin-top: 10px;
    }


}